* {
  font-size: inherit;
  font-family: Segoe UI, Roboto, Droid Sans, Verdana, Tahoma, Serif;
}

body{
	background-color: #FCFFF5;
}

h1 { font-size: 34px; line-height: 120%; }
h2 { font-size: 20px; }
p  { font-size: 14px; }

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}
label {
    display: inline-block;
    text-align: right;
    width: 20%;
}

#member_id {
   text-align: center;
}

tr.In td {
   background: white;
}
tr.Out td {
   background: #005Cb9;
   color: #FFF;
}
table.recent th {
    border-bottom: 1px solid black;
}
table.recent td {
   border-bottom: 1px solid #eee;
 }

td.who_is_here p, td.who_is_here a{
  color: blue;
}

table.side {
  border: 1px solid black;
  border-collapse: collapse;
}

table.side th, table.side td{
   border: 1px solid black;
   padding: 10px;
}

table.side th{
   background: #DDD;
}

tr.Forgot{
  background: yellow;
  color: black;
}

h1.error{
  color: red;
}

table.SQLoutput{
    border-collapse:collapse;
}
table.SQLoutput, th.SQLoutput, td.SQLoutput{
    border: 1px solid black;
    padding: 10px;
}

td.label{
   padding: 10px;
   text-align: right;
}

input#register{
  width: 40em;
  height: 4em;
}

.button {
    background-color: #3E606F;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
	border-radius: 15px;
    cursor: pointer;
}

.btnGuest{
    padding: 20px 60px;
    font-size: 32px;
    border: none;
	border-radius: 15px;
    cursor: pointer;
}

.btnGuest#firstTime, .btnGuest#returning {
    background-color: rgb(241,137,3);
    color: black;
}

.btnGuest#leaving{
    background-color: rgb(0,92,185);
    color: white;
}

table.header{
    width: 90%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #3E606F;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Content/Box */
.modal-content {
	position: relative;
    background-color: #FCFFF5;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

table.teams {
    border-collapse: collapse;
}

table.teams, th.teams, td.teams {
    border: 1px solid black;
}

td.clBasic {
    background-color: red;
    color: white;
}
td.clCertified{
    background-color: green;
}
td.clDOF{
    background-color: orange;
}
td.clInstructor{
    background-color: blue;
    color: white;
}
td.clCertifier{
    background-color: gray;
    color: white;
}

table.certifications {
  border: 1px solid black;
  border-collapse: collapse;
}

table.certifications th, table.certifications td{
   border: 1px solid black;
   font-size: small;
}
table.certifications th{
    font-weight: bold;
    background-color: white;
    color: black;
}

button.deactivate { 
  background-color: #a84232; 
  color: #ffffff;
}
