* {
  font-size: inherit;
  font-family: Segoe UI, Roboto, Droid Sans, Verdana, Tahoma, Serif;
}

body{
	background-color: #FCFFF5;
}

h1 { font-size: 34px; line-height: 120%; }
h2 { font-size: 20px; }
p  { font-size: 14px; }

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}
label {
    display: inline-block;
    text-align: right;
    width: 20%;
}

#member_id {
   text-align: center;
}

tr.In td {
   background: white;
}
tr.Out td {
   background: #005Cb9;
   color: #FFF;
}
table.recent th {
    border-bottom: 1px solid black;
}
table.recent td {
   border-bottom: 1px solid #eee;
 }

td.who_is_here p, td.who_is_here a{
  color: blue;
}

table.side {
  border: 1px solid black;
  border-collapse: collapse;
}

table.side th, table.side td{
   border: 1px solid black;
   padding: 10px;
}

table.side th{
   background: #DDD;
}

tr.Forgot{
  background: yellow;
  color: black;
}
