* {
  font-size: inherit;
  font-family: Segoe UI, Roboto, Droid Sans, Verdana, Tahoma, Serif;
}

body{
	background-color: #FCFFF5;
}

h1 { font-size: 34px; line-height: 120%; }
h2 { font-size: 20px; }
p  { font-size: 14px; }

